Cython
wmd
regex
spacy>=2.2.1
scipy
nltk
overrides
pandas
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz
pipetools
allennlp
pyemd
more_itertools
addict
numpy
numpy_indexed
suffix_trees
cytoolz
hdbscan
pyprover
pyxdameraulevenshtein
ray
biopython
tabulate
fuzzywuzzy[speedup]
